<html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body
{
 background-color:#2E3B0B;
 margin:0px auto;
 padding:0px;
 font-family:Arial;
 height:2000px;
 
 background-image: url('static/img/back.jpg');
 background-repeat: repeat;
}
h1
{
 text-align:center;
 font-size:35px;
 margin-top:60px;
 color:#BEF781;
}

b
{
 text-align:left;
 font-size:60px;
 margin-top:60px;
 color:#fefeff;
 font-family:Arial;
}

h1 p
{
 text-align:center;
 margin:0px;
 font-size:18px;
 text-decoration:underline;
 color:white;
}
#main_content
{
 margin-top:50px;
 width:1200px;
 margin-left:350;
}
#main_content li
{
 display:inline;
 list-style-type:none;
 background-color:#FD673A;
 padding:10px;
 border-radius:5px 5px 15px 0px;
 color:#FD673A;
 font-weight:bold;
 cursor:pointer;
}
#main_content li.notselected
{
 background-color:#2d384a;
 color:#f8f8ff;	
}
#main_content li.selected
{
 background-color:#fefeff;
 color:#292A0A;	
}
#main_content .hidden_desc
{
 display:none;
 visibility:hidden;
}
#main_content #page_content
{
 background-color:#de6840;
 padding:0px;
 margin-top:9px;
 border-radius:0px 5px 5px 5px;
 color:#fefeff;
 line-height: 1.6em;
 word-spacing:4px;
}
.tab { margin-left: 40px; }

c
{
 text-align:left;
 font-size:20px;
 margin-top:0px;
 color:#ffba90;
 font-family:Arial;
}

.myDiv {
  border: #2d2d2d;
  background-color: #2d2d2d;
  text-align: center;
  color: #515151;
 }
 
.mydiv2
{
  border: #2d2d2d;
  background-color: #2d2d2d;
  text-align: left;
  font-size:20px;
  color: #fefeff;
 }
 
e
{
 text-align:center;
 font-size:30px;
 margin-top:60px;
 color:#fefeff;
 font-family:Arial;
}
</style>
<script>
 function change_tab(id)
 {
   document.getElementById("page_content").innerHTML=document.getElementById(id+"_desc").innerHTML;
   document.getElementById("page1").className="notselected";
   document.getElementById("page2").className="notselected";
   document.getElementById("page3").className="notselected";
   document.getElementById("page4").className="notselected";
   document.getElementById(id).className="selected";
 }
</script>
</head>
<body>

<div id="main_content">

 <li class="selected" id="page1" onclick="change_tab(this.id);">Home Page</li>
 <li class="notselected" id="page2" onclick="change_tab(this.id);">Model</li>
 <li class="notselected" id="page3" onclick="change_tab(this.id);">Source Code</li>
<li class="notselected" id="page4" onclick="change_tab(this.id);">About</li>
 
 <div class='hidden_desc' id="page1_desc">
 <br>
 <br>
 <br>

 <b> &nbsp; AudioPhile</b> <br> <br>
 <c> &nbsp; &nbsp; FOR BANDS AND MUSICIANS </c> <br> <br> <br>	
  
  <img src="/static/img/concert.jpg" alt="Concert" width="1200" height="300">
  <img src="/static/img/welcome.jpg" alt="Welcome" width="1200" height="150">
  <img src="/static/img/sum.jpg" alt="Sum" width="1200" height="450">
	
<div class="myDiv">
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
  <div class="mydiv2">
  <br> 
  <e> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; INTRODUCTION </e>
  <br>
  <br>
  &nbsp; &nbsp; Music has been a vital part of our everyday life throughout the decade. <br>
  &nbsp; &nbsp; In human history, music if ubiquitous in every known society and is considered to be a cultural universal <br> 
  &nbsp; &nbsp;  and a universal way of expression in human life. <br>
  &nbsp; &nbsp; To further prove the cultural affiliation of music in our lives, it is estimated that more than 1.2 trillion songs <br>
  &nbsp; &nbsp; are streamed on demand in 2018. <br>
  &nbsp; &nbsp;  Even Americans spend an approximation of 16 hours listening to online radios such as Spotify. <br> <br>
  &nbsp; &nbsp; Moreover, the US recorded music business revenues grew 5.1% to $3.7 billion. <br>
  &nbsp; &nbsp; The major contributor of this revenue is generated by popular, mainstream songs. <br>
 <br>
 <br>
</div>

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
<div class="mydiv2">
  <br> 
  <e> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; IMPORTANCE </e>
  <br>
  <br>
  &nbsp; &nbsp; Making predictions about a song’s popularity has been widely applied to every music industry business <br> &nbsp; &nbsp;  all over the world.  <br>
  &nbsp; &nbsp; Having a fundamental understanding of what makes a song mainstream positively affects the major implications <br> 
  &nbsp; &nbsp; to businesses that specializes in popular music.  <br> 
  &nbsp; &nbsp; However, private companies have already been working on it but details are made confidential for competitive purposes.  <br>
  <br>
  &nbsp; &nbsp; That is the primary reason why our team decided to build a model which predicts the popularity of a song based <br> &nbsp; &nbsp; on its audio features. <br>
  
 <br>
 <br>
</div>
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
<div class="mydiv2">
<br>
 <e> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; GUIDE </e>
 <br>
 <br>
 
 &nbsp; &nbsp; The website is composed of four (4) tabs namely: Home Page, Model, Source Code, and About Us. <br> <br>
 &nbsp; &nbsp; 1. Home Page - This contains the introduction about the project, its importance, and guide how to use the web app and  <br> 
 &nbsp; &nbsp; &nbsp;  any other information relevant to the project itself and the web app. <br> <br>
 &nbsp; &nbsp; 2. Model - This contains the model for deployed and the simulations <br> <br>
 &nbsp; &nbsp; 3. Source Code - This contains the source code (in text not file) used in the project <br> <br>
 &nbsp; &nbsp; 4. About - This contains the information about the authors. Add pictures and short description about the authors. <br> <br>
 <br>
 &nbsp; &nbsp; Ranges of the following inputs in the model: <br> <br>
 &nbsp; &nbsp; - Valence (Ranges from 0 to 1) <br> 
 &nbsp; &nbsp; - Duration in millisecond (Integer typically ranging from 200k to 300k)  <br> 
 &nbsp; &nbsp; - Explicit (0 = No explicit content, 1 = Explicit content)<br> 
 &nbsp; &nbsp; - Danceability (Ranges from 0 to 1)  <br> 
 &nbsp; &nbsp; - Energy (Ranges from 0 to 1)  <br> 
 &nbsp; &nbsp; - Key (All keys on octave encoded as values ranging from 0 to 11, starting on C as 0, C# as 1 and so on…)  <br> 
 &nbsp; &nbsp; - Mode (0 = Minor, 1 = Major)  <br> 
 &nbsp; &nbsp; - Speechiness (Ranges from 0 to 1)  <br> 
 &nbsp; &nbsp; - Acousticness (Ranges from 0 to 1)  <br> 
 &nbsp; &nbsp; - Liveness (Ranges from 0 to 1)  <br> 
 &nbsp; &nbsp; - Tempo (Float typically ranging from 50 to 150)  <br> 
 &nbsp; &nbsp; - Time Signature (The predicted timesignature, most typically 4)  <br> 
 <br> <br>
 <br>
 </div>
</div>
 </div>
 

 <div class='hidden_desc' id="page2_desc">
  <br>
 <br>
 <br>
  <b> &nbsp; Genetic Algorithm</b> <br> <br>
 <c> &nbsp; &nbsp; MODEL DEPLOYMENT </c> <br> <br> <br>
  
 <form action="{{ url_for('main') }}" method="POST">
 <div class="mydiv2">
    <fieldset>
        <br>
		&nbsp; Input the Following Fields <br>

        <br>  &nbsp; Valence: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        <input name="valence" required>
        <br>

        <br>  &nbsp;  Duration (milliseconds):
        <input name="duration_ms" required>
        <br>

        <br> &nbsp;  Explicitness: &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; 
        <input name="explicit" required>
        <br>


        <br> &nbsp; Danceability: &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; 
        <input name="danceability" required>
        <br>

        <br> &nbsp;  Energy: &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        <input name="energy" required>
        <br>

        <br>  &nbsp; Key: &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        <input name="key" required>
        <br>


        <br> &nbsp;  Mode: &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        <input name="mode" required>
        <br>

        <br> &nbsp;  Speechiness: &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; 
        <input name="speechiness" required>
        <br>

        <br>  &nbsp; Acousticness: &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; 
        <input name="acousticness" required>
        <br>

        <br> &nbsp;  Liveness: &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        <input name="liveness" required>
        <br>

		<br> &nbsp;  Tempo: &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        <input name="tempo" required>
        <br>

        <br> &nbsp;  Time Signature: &nbsp;  &nbsp; &nbsp; &nbsp; 
        <input name="time_signature" required>
        <br>
	<br>

        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   <input type="submit">
    </fieldset>
	</div>
</form>
<br>
<div class="result" align="center">
    {% if result %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }}
        {% endfor %}
        <br> The prediction is: <br> <br> 
           <p style="font-size:50px">{{ result }}</p> <br> <br> <br>
    {% endif %}
</div>
 </div>
 
 
 
 <div class='hidden_desc' id="page3_desc">
  <br>
 <br>
 <br>
  <b>&nbsp; Python Files</b> <br> <br>
 <c> &nbsp; &nbsp; SOURCE CODE </c> <br> <br> <br>

<div class="mydiv2">
<br>
  <p style = "font-weight:bold"> &nbsp; &nbsp;  Spotify Data: Building the Model</p>
    &nbsp; &nbsp; import numpy <br>
	&nbsp; &nbsp; import pygad <br>
	&nbsp; &nbsp; import pygad.nn <br>
	&nbsp; &nbsp; import pygad.gann <br>
	&nbsp; &nbsp; import pandas as pd <br>
	&nbsp; &nbsp; import matplotlib.pyplot <br>
	&nbsp; &nbsp; from sklearn import preprocessing <br>
	&nbsp; &nbsp; from pandas import Series, DataFrame  <br> <br>

	&nbsp; &nbsp; def fitness_func(solution, sol_idx): <br>
	<a class="tab">&nbsp; &nbsp; global GANN_instance, data_inputs, data_outputs</a> <br>
	<a class="tab">&nbsp; &nbsp; predictions = pygad.nn.predict(last_layer=GANN_instance.population_networks[sol_idx], data_inputs=data_inputs)</a> <br>
	<a class="tab">&nbsp; &nbsp; l_comp = [i == j for i, j in zip(predictions, data_outputs)]</a> <br>
	<a class="tab">&nbsp; &nbsp; solution_fitness = sum(l_comp)/len(data_outputs)*100</a> <br>
	<a class="tab">&nbsp; &nbsp; return solution_fitness</a>
	<br>
	<br>

	&nbsp; &nbsp; def callback_generation(ga_instance): <br>
	<a class="tab">&nbsp; &nbsp; global GANN_instance, last_fitness</a> <br>
	<a class="tab">&nbsp; &nbsp; population_matrices = pygad.gann.population_as_matrices(population_networks=GANN_instance.population_networks, <br> &nbsp; &nbsp; &nbsp; &nbsp; population_vectors=ga_instance.population)</a> <br>
	<a class="tab">&nbsp; &nbsp; GANN_instance.update_population_trained_weights(population_trained_weights=population_matrices)</a> <br>
	<a class="tab">&nbsp; &nbsp; print("Generation = {generation}".format(generation=ga_instance.generations_completed))</a> <br>
	<a class="tab">&nbsp; &nbsp; print("Fitness    = {fitness}".format(fitness=ga_instance.best_solution()[1]))</a> <br>
	<a class="tab">&nbsp; &nbsp; print("Change     = {change}".format(change=ga_instance.best_solution()[1] - last_fitness)</a> <br>
	<a class="tab">&nbsp; &nbsp; last_fitness = ga_instance.best_solution()[1].copy())</a> <br>
	<br>

	&nbsp; &nbsp; spotify = pd.read_csv('Documents/tracks.csv') <br>
	<br>
	&nbsp; &nbsp; spotify.loc[(spotify.popularity < 50), 'popularity'] = 0 <br>
	&nbsp; &nbsp; spotify.loc[(spotify.popularity > 50), 'popularity'] = 1 <br>
	&nbsp; &nbsp; spotify.loc[(spotify.popularity == 50), 'popularity'] = 1 <br>
	<br>

	&nbsp; &nbsp; spotify['valence'].fillna(spotify['valence'].median(), inplace=True)  <br>
	&nbsp; &nbsp; spotify['duration_ms'].fillna(spotify['duration_ms'].median(), inplace=True)  <br>
	&nbsp; &nbsp; spotify['explicit'].fillna(spotify['explicit'].median(), inplace=True)  <br>
	&nbsp; &nbsp; spotify['danceability'].fillna(spotify['danceability'].median(), inplace=True)  <br>
	&nbsp; &nbsp; spotify['energy'].fillna(spotify['energy'].median(), inplace=True)  <br>
	&nbsp; &nbsp; spotify['key'].fillna(spotify['key'].median(), inplace=True)  <br>
	&nbsp; &nbsp; spotify['mode'].fillna(spotify['mode'].median(), inplace=True)  <br>
	&nbsp; &nbsp; spotify['speechiness'].fillna(spotify['speechiness'].median(), inplace=True)  <br>
	&nbsp; &nbsp; spotify['acousticness'].fillna(spotify['acousticness'].median(), inplace=True)  <br>
	&nbsp; &nbsp; spotify['liveness'].fillna(spotify['liveness'].median(), inplace=True)  <br>
	&nbsp; &nbsp; spotify['tempo'].fillna(spotify['tempo'].median(), inplace=True)  <br>
	&nbsp; &nbsp; spotify['time_signature'].fillna(spotify['time_signature'].median(), inplace=True)  <br>
	&nbsp; &nbsp; spotify['popularity'].fillna(spotify['popularity'].median(), inplace=True)  <br>
	<br>

	&nbsp; &nbsp; data_inputs = spotify[['duration_ms', 'explicit', 'danceability', 'energy', 'key', 'mode', 'speechiness', 'acousticness', <br> &nbsp; &nbsp; &nbsp; 'liveness', 'valence', 'tempo', 'time_signature']]
	<br> &nbsp; &nbsp; data_inputs = data_inputs.to_numpy() <br> <br>

	&nbsp; &nbsp; data_outputs = spotify['popularity'] <br>
	&nbsp; &nbsp; data_outputs = data_outputs.tolist() <br> <br>

	&nbsp; &nbsp; last_fitness = 0 <br>
	&nbsp; &nbsp; num_inputs = data_inputs.shape[1] <br>
	&nbsp; &nbsp; num_classes = 2 <br>
	&nbsp; &nbsp; num_solutions = 6  <br> <br>

	&nbsp; &nbsp; GANN_instance = pygad.gann.GANN(num_solutions=num_solutions,
                                num_neurons_input=num_inputs, <br> &nbsp; &nbsp; &nbsp; 
                                num_neurons_hidden_layers=[2],
                                num_neurons_output=num_classes,
                                hidden_activations=["relu"], <br> &nbsp; &nbsp; &nbsp; 
                                output_activation="softmax") <br> <br>

	&nbsp; &nbsp; population_vectors = pygad.gann.population_as_vectors(population_networks=GANN_instance.population_networks) <br>
	&nbsp; &nbsp; initial_population = population_vectors.copy() <br>
	&nbsp; &nbsp; num_parents_mating = 4 <br>
	&nbsp; &nbsp; num_generations = 100  <br>
	&nbsp; &nbsp; mutation_percent_genes = 5  <br>
	&nbsp; &nbsp; parent_selection_type = "rws"  <br>
	&nbsp; &nbsp; crossover_type = "single_point"  <br>
	&nbsp; &nbsp; mutation_type = "random"  <br>
	&nbsp; &nbsp; keep_parents = 1  <br> <br>

	&nbsp; &nbsp; init_range_low = -2 <br>
	&nbsp; &nbsp; init_range_high = 5 <br> <br>

	&nbsp; &nbsp; ga_instance = pygad.GA(num_generations=num_generations,
                       num_parents_mating=num_parents_mating, <br> &nbsp; &nbsp; &nbsp; 
                       initial_population=initial_population,
                       fitness_func=fitness_func,
                       mutation_percent_genes=mutation_percent_genes, <br> &nbsp; &nbsp; &nbsp; 
                       init_range_low=init_range_low,
                       init_range_high=init_range_high,
                       parent_selection_type=parent_selection_type, <br> &nbsp; &nbsp; &nbsp; 
                       crossover_type=crossover_type,
                       mutation_type=mutation_type,
                       keep_parents=keep_parents, <br> &nbsp; &nbsp; &nbsp; 
                       on_generation=callback_generation) <br> <br>
	&nbsp; &nbsp; ga_instance.run() <br>
	<br>
	&nbsp; &nbsp; ga_instance.plot_result() <br> <br>

	&nbsp; &nbsp; if ga_instance.best_solution_generation != -1: <br>
	<a class="tab"> &nbsp; &nbsp; &nbsp; &nbsp; print("Best fitness value reached after {best_solution_generation} generations.".format <br> &nbsp; &nbsp; &nbsp; &nbsp; (best_solution_generation=ga_instance.best_solution_generation))</a> <br>
	<br>
	&nbsp; &nbsp; solution, solution_fitness, solution_idx = ga_instance.best_solution() <br>
	<br>
	&nbsp; &nbsp; predictions = pygad.nn.predict(last_layer=GANN_instance.population_networks[solution_idx],
                               data_inputs=data_inputs)
	<br> <br>
	&nbsp; &nbsp; elast_layer = GANN_instance.population_networks[solution_idx]
	<br> <br>
	&nbsp; &nbsp; print("Classification accuracy : ", solution_fitness)
	<br> <br>
	&nbsp; &nbsp; import pickle <br>
	&nbsp; &nbsp; pickle.dump(elast_layer, open('spotify_data.pkl','wb')) <br>
	<br>
	<br>
	<br>
	<br>

<div class="myDiv">
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
</div>
<br>
	<p style = "font-weight:bold"> &nbsp; &nbsp; Spotify Data: Deploying the Model into Production</p>
	&nbsp; &nbsp; import flask <br>
	&nbsp; &nbsp; import pickle <br>
	&nbsp; &nbsp; import numpy <br>
	&nbsp; &nbsp; import pandas as pd <br> <br>

	&nbsp; &nbsp; fn = 'C:/Users/hitat/anaconda3/model/spotify_data.pkl' <br>
	&nbsp; &nbsp; model_instance = pickle.load(open(fn,'rb')) <br> <br>

	&nbsp; &nbsp; app = flask.Flask(__name__, template_folder='pages') <br> <br>

	&nbsp; &nbsp; @app.route('/', methods=['GET','POST']) <br> <br>
	&nbsp; &nbsp; def main(): <br>
	<a class="tab">&nbsp; &nbsp; if flask.request.method == 'GET':</a> <br>
	<a class="tab">&nbsp; &nbsp; &nbsp; &nbsp; return (flask.render_template('sam.html')):</a> <br> <br>

	 <a class="tab">&nbsp; &nbsp; if flask.request.method == 'POST': </a> <br>
	     <a class="tab">&nbsp; &nbsp; &nbsp; &nbsp; valence = flask.request.form['valence']</a> <br>
         <a class="tab">&nbsp; &nbsp; &nbsp; &nbsp; duration_ms = flask.request.form['duration_ms']</a> <br>
         <a class="tab">&nbsp; &nbsp; &nbsp; &nbsp; explicit = flask.request.form['explicit']</a> <br>
         <a class="tab">&nbsp; &nbsp; &nbsp; &nbsp; danceability = flask.request.form['danceability']</a> <br>
         <a class="tab">&nbsp; &nbsp; &nbsp; &nbsp; energy = flask.request.form['energy']</a> <br>
         <a class="tab">&nbsp; &nbsp; &nbsp; &nbsp; key = flask.request.form['key']</a> <br>
         <a class="tab">&nbsp; &nbsp; &nbsp; &nbsp; mode = flask.request.form['mode']</a> <br>
         <a class="tab">&nbsp; &nbsp; &nbsp; &nbsp; speechiness = flask.request.form['speechiness']</a> <br>
         <a class="tab">&nbsp; &nbsp; &nbsp; &nbsp; acousticness = flask.request.form['acousticness']</a> <br>
         <a class="tab">&nbsp; &nbsp; &nbsp; &nbsp; liveness = flask.request.form['liveness']</a> <br>
        <a class="tab"> &nbsp; &nbsp; &nbsp; &nbsp; tempo = flask.request.form['tempo']</a> <br>
         <a class="tab">&nbsp; &nbsp; &nbsp; &nbsp; time_signature = flask.request.form['time_signature']</a> <br> <br>

         <a class="tab">&nbsp; &nbsp; a_inputs = numpy.array([[valence, duration_ms, explicit, danceability, energy, key, mode, speechiness, <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  acousticness, liveness, tempo, time_signature]])</a> <br>
         <a class="tab">&nbsp; &nbsp; a_inputs = a_inputs.astype(float)</a> <br> <br>

        <a class="tab"> &nbsp; &nbsp; prediction = pygad.nn.predict(last_layer=model_instance, data_inputs=a_inputs) </a> <br>
        <a class="tab"> &nbsp; &nbsp; prediction = str(prediction).strip('[]')  </a> <br> <br>

		 <a class="tab">&nbsp; &nbsp; pred = '' </a> <br>
        <a class="tab"> &nbsp; &nbsp; if int(prediction) == 0: </a> <br>
             <a class="tab">&nbsp; &nbsp; &nbsp; &nbsp; pred = 'Flop' </a> <br>
         <a class="tab">&nbsp; &nbsp; else:  </a> <br>
             <a class="tab">&nbsp; &nbsp; &nbsp; &nbsp; pred = 'Bop' </a> <br> <br>

         <a class="tab">&nbsp; &nbsp; return (flask.render_template('sam.html', original_input= {}, result=str(pred))) </a> <br>
		 &nbsp; &nbsp; if __name__ == '__main__': <br>
		 <a class="tab">  &nbsp; &nbsp; &nbsp; &nbsp; app.run() </a> <br> <br> <br> <br>
</div>
 </div>

 <div class='hidden_desc' id="page4_desc">
  <br>
 <br>
 <br>
  <b>&nbsp; Programmers</b> <br> <br>
 <c> &nbsp; &nbsp; TEAM MEMBERS </c>   <br>
  <br>
  <br>
  <div class="mydiv2">
  <br>
  <div class="wrapper">
		<br>
          <h2>&nbsp; &nbsp; Our Team</h2>
          <div class="team">
            <div class="team_member">
              <div class="team_img">
                <img src="static/img/team23.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
              </div>
			   <br>
              <h3>Auiolee Manansala</h3>
              <p class="role">Author</p>
              <p>"Hi my name is Auiolee Manansala. I'm a student of Technological Institute of the Philippines. I took up Computer Engineering Course as a career and major in DataScience."</p>
            </div>
            <div class="team_member">
              <div class="team_img">
               <img src="static/img/team22.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
              </div>
			   <br>
              <h3>Yuneza Claire Mortos</h3>
              <p class="role">Author</p>
              <p>"Hi my name is Yuneza Claire Mortos. I'm a student of Technological Institute of the Philippines. I took up Computer Engineering Course as a career and major in DataScience."</p></div>
            <div class="team_member">
              <div class="team_img">
                <img src="static/img/team21.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
              </div>
			   <br>
              <h3>Patrick Punzalan</h3>
              <p class="role">Author</p>
              <p>"Hi my name is Patrick Lester M. Punzalan. I'm a student of Technological Institute of the Philippines. I took up Computer Engineering Course as a career and major in DataScience."</p>
            </div>
          </div>
         </div>
  </div>

		 </div>

 
 <div id="page_content">
 <br>
 <br>
 <br>

 <b> &nbsp; AudioPhile</b> <br> <br>
 <c> &nbsp; &nbsp; FOR BANDS AND MUSICIANS </c> <br> <br> <br>	
  
  <img src="/static/img/concert.jpg" alt="Concert" width="1200" height="300">
  <img src="/static/img/welcome.jpg" alt="Welcome" width="1200" height="150">
  <img src="/static/img/sum.jpg" alt="Sum" width="1200" height="450">
	
<div class="myDiv">
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
  <div class="mydiv2">
  <br> 
  <e> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; INTRODUCTION </e>
  <br>
  <br>
  &nbsp; &nbsp; Music has been a vital part of our everyday life throughout the decade. <br>
  &nbsp; &nbsp; In human history, music if ubiquitous in every known society and is considered to be a cultural universal <br> 
  &nbsp; &nbsp;  and a universal way of expression in human life. <br>
  &nbsp; &nbsp; To further prove the cultural affiliation of music in our lives, it is estimated that more than 1.2 trillion songs <br>
  &nbsp; &nbsp; are streamed on demand in 2018. <br>
  &nbsp; &nbsp;  Even Americans spend an approximation of 16 hours listening to online radios such as Spotify. <br> <br>
  &nbsp; &nbsp; Moreover, the US recorded music business revenues grew 5.1% to $3.7 billion. <br>
  &nbsp; &nbsp; The major contributor of this revenue is generated by popular, mainstream songs. <br>
 <br>
 <br>
</div>

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
<div class="mydiv2">
  <br> 
  <e> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; IMPORTANCE </e>
  <br>
  <br>
  &nbsp; &nbsp; Making predictions about a song’s popularity has been widely applied to every music industry business <br> &nbsp; &nbsp;  all over the world.  <br>
  &nbsp; &nbsp; Having a fundamental understanding of what makes a song mainstream positively affects the major implications <br> 
  &nbsp; &nbsp; to businesses that specializes in popular music.  <br> 
  &nbsp; &nbsp; However, private companies have already been working on it but details are made confidential for competitive purposes.  <br>
  <br>
  &nbsp; &nbsp; That is the primary reason why our team decided to build a model which predicts the popularity of a song based <br> &nbsp; &nbsp; on its audio features. <br>
  
 <br>
 <br>
</div>
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
<div class="mydiv2">
<br>
 <e> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; GUIDE </e>
 <br>
 <br>
 
 &nbsp; &nbsp; The website is composed of four (4) tabs namely: Home Page, Model, Source Code, and About Us. <br> <br>
 &nbsp; &nbsp; 1. Home Page - This contains the introduction about the project, its importance, and guide how to use the web app and  <br> 
 &nbsp; &nbsp; &nbsp;  any other information relevant to the project itself and the web app. <br> <br>
 &nbsp; &nbsp; 2. Model - This contains the model for deployed and the simulations <br> <br>
 &nbsp; &nbsp; 3. Source Code - This contains the source code (in text not file) used in the project <br> <br>
 &nbsp; &nbsp; 4. About - This contains the information about the authors. Add pictures and short description about the authors. <br> <br>
 <br>
 &nbsp; &nbsp; Ranges of the following inputs in the model: <br> <br>
 &nbsp; &nbsp; - Valence (Ranges from 0 to 1) <br> 
 &nbsp; &nbsp; - Duration in millisecond (Integer typically ranging from 200k to 300k)  <br> 
 &nbsp; &nbsp; - Explicit (0 = No explicit content, 1 = Explicit content)<br> 
 &nbsp; &nbsp; - Danceability (Ranges from 0 to 1)  <br> 
 &nbsp; &nbsp; - Energy (Ranges from 0 to 1)  <br> 
 &nbsp; &nbsp; - Key (All keys on octave encoded as values ranging from 0 to 11, starting on C as 0, C# as 1 and so on…)  <br> 
 &nbsp; &nbsp; - Mode (0 = Minor, 1 = Major)  <br> 
 &nbsp; &nbsp; - Speechiness (Ranges from 0 to 1)  <br> 
 &nbsp; &nbsp; - Acousticness (Ranges from 0 to 1)  <br> 
 &nbsp; &nbsp; - Liveness (Ranges from 0 to 1)  <br> 
 &nbsp; &nbsp; - Tempo (Float typically ranging from 50 to 150)  <br> 
 &nbsp; &nbsp; - Time Signature (The predicted timesignature, most typically 4)  <br> 
 <br> <br>
 <br>
 </div>
</div>
 </div>
 
</div>
 
</body>
</html>